.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 375px;
}

.title {
	padding: 48px;
	margin: auto 0;
}

.hero-img img {
	background-position: center;
	background-size: contain;
	height: 153px;
}

.download {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 24px;

	h1 {
		line-height: 44px;
		font-weight: 900;
		font-size: $fnt-med;
	}

	p {
		line-height: 26px;
		font-weight: 500;
		font-size: $fnt-sml;
		color: $grey;
	}

	.btn-download {
		padding: 16px 40px;
		background-color: $teal;
		border: 0;
		border-radius: 35px;
		color: $white;
		font-weight: 900;
		line-height: 26px;
		font-size: $fnt-sml;

		.version {
			color: $lightBlue;
		}
	}

	.btn-help {
		padding: 16px 40px;
		background-color: $purple;
		border: 0;
		border-radius: 35px;
		color: $white;
		font-weight: 900;
		line-height: 26px;
		font-size: $fnt-sml;
		margin-top: 16px;
	}
}

.content {
	width: 327px;

	.circle {
		background-color: #fff;
		color: #999;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $grey;
		transition: 0.4s ease;
	}

	.group-img {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;

		img {
			width: 151px;
			height: 143px;
			border-radius: 5px;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-content: center;
		justify-content: center;
		margin-top: 64px;

		h3 {
			font-size: $fnt-sml;
			line-height: 26px;
			letter-spacing: 4px;
			text-transform: uppercase;
			color: $teal;
			font-weight: 900;
		}

		h2 {
			font-size: $fnt-med;
			line-height: 44px;
		}

		p {
			line-height: 26px;
			font-weight: 500;
			font-size: $fnt-sml;
			color: $grey;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
	/* height: 540px; */
	margin-bottom: 0;

	&__content {
		background-image: url('../assets/mobile/image-footer.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $teal;
		width: 375px;
		height: 428px;
		color: $white;

		h2 {
			font-weight: 900;
			font-size: 32px;
			line-height: 36px;
		}

		p {
			line-height: 26px;
			font-size: $fnt-norm;
			font-weight: 500;
		}

		.btn-download {
			padding: 16px 40px;
			background-color: $purple;
			border: 0;
			border-radius: 35px;
			color: $white;
			font-weight: 900;
			line-height: 26px;
			font-size: $fnt-sml;

			.version {
				color: $lightPurple;
			}
		}
	}
}
