@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: 0;
	background: #191d70;
	color: #fff;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #7e84f2;
	/* width: 80vw; */
	width: 35vw;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;

	border: #191d70 solid 3px;
	border-radius: 10px;
	padding: 10px;
}

.project-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 200px;
}

.project a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	margin-top: 5px;
	font-size: 18px;
	max-width: 90%;
}

.project a:hover {
	color: #2a31bd;
	transition: 0.3s ease-in-out;
}

a.github-link {
	margin-left: 20px;
	font-size: 45px;
}

.project-image {
	width: 200px;
	height: 100%;
}
