* {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	/* margin: 0;
	padding: 0; */
	font-family: $redHat;
	/* height: 709px;
	width: 375px; */
	background-color: $paleBlue;
	position: relative;
	width: 375px;
	height: 709px;
}

/* .container {
	margin: 0 auto;
} */
