// Colours

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsla(245, 75%, 52%, 1);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// Fonts
$redHat: 'Red Hat Display', sans-serif;
